<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audio_mart.mapper.MemberMapper">

	<sql id="memberColumns">
		idx
		, custid
		, pwd
		, custname
		, phone
		, addr
		, deletion_yn
		, join_time
		, update_time
		, deletion_time
		, admin
	</sql>
	
	<insert id="insertMember" parameterType="MemberDTO">
		INSERT INTO member (
			<include refid="memberColumns" />
		) VALUES (
			#{idx}
			,#{custid}
			,#{pwd}
			,#{custname}
			,#{phone}
			,#{addr}
			,'N'
			,NOW()
			,null
			,null
			,false
		)
	</insert>
	
	<select id="findByIdx" parameterType="Integer" resultType="MemberDTO">
		SELECT
			<include refid="memberColumns" />
		FROM
			member
		WHERE
			idx=#{idx}
		AND deletion_yn='N'
	</select>
	
	<select id="findByCustid" parameterType="String" resultType="MemberDTO">
		SELECT
			<include refid="memberColumns" />
		FROM
			member
		WHERE
			custid=#{custid}
		AND deletion_yn='N'
	</select>
	
	<update id="updateMember" parameterType="MemberDTO">
		UPDATE member
		SET 
			update_time = NOW()
			, custname = #{custname}
			, pwd = #{pwd}
			, phone = #{phone}
			, addr = #{addr}
		WHERE
			idx = #{idx}
		AND deletion_yn ='N'
	</update>
	
	<update id="deleteMember" parameterType="int">
		UPDATE member
		SET
			deletion_yn='Y'
			,deletion_time = NOW()
		WHERE
			idx = #{idx}
	</update>
	
</mapper>