<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.audio_mart.mapper.OrderMapper">

	<sql id="ordersColumn">
		order_id, member_idx, price, payment_method, order_addr,
		order_notes, order_date, update_date, order_status
	</sql>

	<insert id="insertOrder" parameterType="OrdersDTO" useGeneratedKeys="true" keyProperty="orderId">
		INSERT INTO orders ( 
			<include refid="ordersColumn" />
		) VALUES (
			#{orderId}, #{memberIdx}, #{price}, #{paymentMethod}, #{orderAddr},
			#{orderNotes}, NOW(), null, '정상'
		)
		
		<selectKey resultType="long" keyProperty="orderId" order="AFTER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<insert id="insertOrderDetail" parameterType="OrderDetailDTO">
		INSERT INTO orderDetail (
			order_id, product_id, quantity
		) 
		SELECT #{orderId}, product_id, quantity
		FROM cart
		WHERE member_id = #{memberId}
	</insert>
	
	<delete id="emptyCartForOrder" parameterType="Long">
		DELETE FROM cart
		WHERE member_id = #{memberIdx}
			AND EXISTS (
				SELECT 1
				FROM member
				WHERE idx = #{memberIdx}
		)
	</delete>
	
	<select id="orderList" parameterType="Long">
		SELECT od.*, o.member_idx, p.pname, o.order_date, od.quantity * p.pprice as pAmountPrice,
				o.payment_method, o.order_addr, o.order_notes, o.order_status, o.update_date 
				, p.thumb_name AS imgName, p.thumb_path AS imgPath
		FROM orderDetail od
			JOIN orders o ON od.order_id = o.order_id
			JOIN product p ON od.product_id = p.product_id
		WHERE o.member_idx = #{memberIdx};
	</select>

</mapper>