<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audio_mart.mapper.ProductMapper">

	<sql id="productColumns">
		product_id
		, cate_id
		, pname
		, pprice
		, stock
		, description
		, order_cnt
		, view_cnt
		, register_date
		, delete_yn
		, delete_date
		, update_date
	</sql>
	
	<!--  카테고리 호출 -->
	<select id="cateList" resultType="CategoryDTO">
		select * from category	
	</select>
	
	<insert id="insertProduct"  parameterType="ProductDTO">
		INSERT INTO product (
			<include refid="productColumns" />
		) VALUES (
			#{productId}
			,#{cateId}
			,#{pname}
			,#{pprice}
			,#{stock}
			,#{description}
			,0
			,0
			,now()
			,'N'
			,null
			,null	
		)
	</insert>
	
	<select id="findByProductId" parameterType="integer" resultType="ProductDTO">
		SELECT
			<include refid="productColumns" />
		FROM
			product
		WHERE
			delete_yn = 'N'
		AND product_id = #{productId}
		ORDER BY
			product_id DESC,
			register_date DESC
	</select>
	
	<update id="updateProduct" parameterType="ProductDTO">
		UPDATE product
		SET
			update_date = now()
			, pname = #{pname}
			, pprice = #{pprice}
			, stock = #{stock}
			, description =#{description}
		WHERE 
			product_id = #{productId}
		AND	delete_yn = 'N'
	</update>
	
	<update id="deleteProduct" parameterType="integer">
		UPDATE product
		SET
			delete_date = now()
			, delete_yn = 'Y'
		WHERE
			delete_yn = 'N'
		AND	product_id = #{productId}
	</update>
	
	<select id="productList">
		SELECT *
		FROM product
		WHERE delete_yn = 'N'
		ORDER BY product_id DESC
	</select>
	
</mapper>