<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>관리자 페이지</title>
	<link rel="stylesheet" href="/css/admin-page.css">
</head>
<body>
	<!-- Navigation -->
	<nav id="slide-menu">
		<ul>
			<li class="timeline"><a href="/admin/list">회원 목록</a></li>
			<li class="events"><a href="/admin/registerItem">상품 등록</a></li>
			<li class="calendar"><a href="/admin/itemList">상품 목록</a></li>
			<li class="sep settings">Settings</li>
			<li class="logout"><a href="/home">홈으로 돌아가기</a> </li>
		</ul>
	</nav>
	<!-- Content panel -->
	<div id="content">
		<div class="menu-trigger"></div>
		<h1>관리자 메뉴</h1>
		<p>흠......</p>
	</div>
	
	

</body>

<script src="/js/admin-page.js"></script>

</html>