<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>상품 등록하기</title>
	<link rel="stylesheet" href="/css/admin-page.css">
</head>

<body>
	<!-- Navigation -->
	<nav id="slide-menu">
		<ul>
			<li class="timeline"><a href="/admin/list">회원 목록</a></li>
			<li class="events"><a href="/admin/registerItem">상품 등록</a></li>
			<li class="calendar"><a href="/admin/itemList">상품 목록</a></li>
			<li class="sep settings">Settings</li>
			<li class="logout"><a href="/home">홈으로 돌아가기</a> </li>
		</ul>
	</nav>
	
	<!-- Content panel -->
	<div id="content">
		<div class="menu-trigger"></div>
				
		<div>
			<form id="productForm" th:action="@{${(product.productId == null) ? '/admin/registerItem' : '/admin/updateItem'} }" 
				th:object="${product}" method="post" onsubmit="return registerItem(this)" enctype="multipart/form-data">
			    <input type="hidden" th:field="*{productId}" />

				<h1>등록할 상품 </h1>
				<table>
					
					<tr>
						<td>
							<label>상품 카테고리</label>
							<select th:field="*{cateId}">
								<option th:each="category : ${categories}" th:value="${category.cateId}" th:text="${category.cateName}">카테고리</option>
							</select>
						</td>
					</tr>
					
					<tr>
						<td>
							<label>상품 이름</label>
							<input type="text" th:field="*{pname}" placeholder="상품 이름" />
						</td>
					</tr>
					
					<tr>
						<td>
							<label>상품 가격</label>
							<input type="number" th:field="*{pprice}" />
						</td>
					</tr>
					
					<tr>
						<td>
							<label>상품 재고</label>
							<input type="number" th:field="*{stock}"/>
						</td>
					</tr>
					
					<tr>
						<td>
							<label>상품 설명</label>
							<textarea th:field="*{description}" placeholder="상품 설명" />
						</td>
					</tr>
					
					<tr>
						<td>
							<label> 상품 이미지 업로드</label>
							<input type="file" id="imgFile" name="imgFile" accept="image/*" multiple/>
							<div><img id="previewImg" src=""></div>
						</td>
					</tr>
				</table>
				
				<div>
					<button type="submit" class="btn"><p th:text="${(product.productId == null) ? '상품 업로드' : '상품 수정하기'}"></p></button>
					<button type="button" th:if="${product.productId != null}" th:onclick="deleteProduct([[ ${product.productId} ]])">상품 내리기</button>
				</div>

			</form>
		</div>
	</div>
	
</body>

<script src="/js/admin-page.js"></script>
<script src="/js/common.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script th:inline="javascript">
	/* <![CDATA[ */
   
   // 상품 등록
	function registerItem(form) {
		var result = (
			isValid(form.pname, "상품 이름", null, null)
			&& isValid(form.pprice, "상품 가격", null, null)
			&& isValid(form.stock, "상품 재고", null, null)
			&& isValid(form.description, "상품 소개", null, null)		
		);
		
		if (result == false) {
			return false;
		}
	}
	
	// 상품 삭제
	function deleteProduct(idx, queryString) {
		
		if (confirm(idx + "번 상품을 홈페이지에서 내리겠습니까?")) {
			var uri = /*[[ @{/admin/itemDelete} ]]*/ null;
			var html = "";
			html += '<form name="dataForm" action="' + uri + '" method="post">';
			html += '<input type="hidden" name="productId" value="' + idx + '"/>';
			
			queryString = new URLSearchParams(queryString);
			queryString.forEach(function(value, key) {
				if (isEmpty(value) == false) {
					html += '<input type="hidden" name="' + key + '" value="' + value + '" />';
				}
			});

			html += '</form>';

			$("body").append(html);
			document.dataForm.submit();
		}
	}
	
	// 이미지 선택 시 미리보기
	$("#imgFile").change(function() {
		if (this.files && this.files[0]) {
			var reader = new FileReader();
			reader.onload = function(data) {
				$("#previewImg").attr("src", data.target.result).width(500);
			}
			reader.readAsDataURL(this.files[0]);
		};
	});
	/* ]]> */

</script>

</html>