<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>상품 등록하기</title>
	<link rel="stylesheet" href="/css/admin-page.css">
</head>

<body>
	<!-- Navigation -->
	<nav id="slide-menu">
		<ul>
			<li class="timeline"><a href="/admin/list">회원 목록</a></li>
			<li class="events"><a href="/admin/registerItem">상품 등록</a></li>
			<li class="calendar"><a href="/admin/itemList">상품 목록</a></li>
			<li class="sep settings">Settings</li>
			<li class="logout"><a href="/home">홈으로 돌아가기</a> </li>
		</ul>
	</nav>
	
	<!-- Content panel -->
	<div id="content">
		<div class="menu-trigger"></div>
				
		<div>
			<form id="productForm" th:action="@{(product.productId == null) ? '/admin/registerItem' : '/admin/registerItem/' + ${product.productId}}" th:object="${product}" method="post" onsubmit="return registerItem(this)">
					method="post" onsubmit="return registerItem(this)">
				<h1>등록할 상품 </h1>
				<table>
					<tr>
						<td>
							<label>상품 카테고리</label>
							<select th:field="*{cateId}">
								<option th:each="category : ${categories}" th:value="${category.cateId}" th:text="${category.cateName}">카테고리</option>
							</select>
						</td>
					</tr>
					
					<tr>
						<td>
							<label>상품 이름</label>
							<input type="text" th:field="*{pname}" placeholder="상품 이름" />
						</td>
					</tr>
					
					<tr>
						<td>
							<label>상품 가격</label>
							<input type="number" th:field="*{pprice}" />
						</td>
					</tr>
					
					<tr>
						<td>
							<label>상품 재고</label>
							<input type="number" th:field="*{stock}" c/>
						</td>
					</tr>
					
					<tr>
						<td>
							<label>상품 설명</label>
							<textarea  th:field="*{description}" placeholder="상품 설명 " />
						</td>
					</tr>
				</table>
				
				<!--<input type="file" name="images" accept="image/*" multiple/>-->
				
				<div>
					<button type="submit" class="btn"><p th:text="${(product.productId == null) ? '상품 업로드' : '상품 수정하기'}"></p></button>
				</div>

			</form>
		</div>
	</div>
	
</body>

<script src="/js/admin-page.js"></script>
<script src="/js/common.js"></script>

<script th:inline="javascript">
	/* <![CDATA[ */
	function registerItem(form) {
		var result = (
			isValid(form.pname, "상품 이름", null, null)
			&& isValid(form.pprice, "상품 가격", null, null)
			&& isValid(form.stock, "싱품 재고", null, null)
			&& isValid(form.description, "상품 소개", null, null)		
		);
		
		if (result == false) {
			return false;
		}
	}
	
	function setImg(event) {
		var reader = new FileReader();
		reader.inload = function(event) {
			var img = document.createElement("img");
			img.setAttribute("src", event.target.result);
			document.querySelector("div#image_container").appendChild(img);
		};
		reader.readAsDataURL(event.target.files[0]);
	}
</script>

</html>