<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
	
<body>
	<form th:if="${not #maps.isEmpty( params )}" name="dataForm" th:action="${redirectUri}" th:method="${method}" style="display: none;">
		<input th:each="key, status : ${params.keySet()}" type="hidden" th:name="${key}" th:value="${params.get(key)}" />
	</form>
	
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/vendor/sweetalert/sweetalert.min.js}"></script>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		/* <![CDATA[ */		
			
		window.onload = function() {
		    var message = /*[[ ${message} ]]*/ null;
			var redirectUri = /*[[ ${redirectUri} ]]*/ null;
			var isSuccess = /*[[ ${isSuccess} ]]*/ null;

			if (isSuccess == false) {
		        // 사용자가 로그인하지 않은 경우
		        swal({
		            title: "주문 실패",
		            text: message,
		            icon: "warning",
		            buttons: {
		                confirm: "확인"
		            }
		        }).then(function(isConfirmed) {
		            if (isConfirmed) {
		                location.href = redirectUri;
		            }
		        })
		    } else {
				
			    swal({
			        title: "주문 완료",
			        text: "주문이 접수되었습니다!",
			        icon: "success",
			        buttons: {
			            confirm: "쇼핑 계속하기 "
			        }
			    }).then(function(isConfirm) {
			        if (isConfirm) {
			            location.href = redirectUri;
			        }
			    })
			}
		}
		/* ]]> */
		</script>
	</th:block>
</body>

</html>